__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
*.egg-info/
*.egg
*.whl

*.apk
*.aab
*.keystore

.buildozer/
.build/

*.spec

.idea/
*.iml

*.log

venv/
env/
ENV/
.venv/

.DS_Store
Thumbs.db

.cache/
.pytest_cache/
coverage.xml
htmlcov/
*.cover
*.coverage

.kivy/

__pypackages__/
platforms/
